@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");


*
{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
   
  
}
body
{
    overflow-x: hidden;
}

header
{
    background-image: url('./images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0px;
    width: 100%;
}

header .logo
{
   position: relative;
  transform: scale(0.6);
   
}

header .navbar
{
   position:absolute;
    top: 0;
    left: 60%;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
 
}

header .navbar ul
{
    position: relative;
    display: flex;
    
}

header .navbar ul li
{
text-decoration: none;
list-style-type: none;
}

header .navbar ul li a
{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    font-family: 'Alata', sans-serif;
    margin-left: 40px;
    text-decoration: none;
}



header .slogan-box
{
 position: relative;
 left: 10%;
 padding: 100px;
 border: 1.5px solid #fff;
 padding: 30px;
 display:flex;
 width: 45%;
 margin-top: 2%;
 margin-left: 2%;
 
  
}

header .slogan-box p
{
    color: #fff;
    text-transform: uppercase;
   
    text-align: center;
    font-family: 'Josefin', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    padding-left: 5%;
    letter-spacing: 10px;
}
footer
{
   
    align-items: center;
    justify-content: center;
 
    background-color: black;
    
    padding: 10px 0px;
    max-width: 100%;
}



footer .footer-list
{
    display: inline-block;
    position: relative;
    bottom: 0;
    padding: 0px 100px;
    
   
    justify-content: space-between;
    align-items: flex-start;
    margin: 15px 0px;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    
}


footer .footer-list ul 
{
    position: relative;
    display: flex;
    
}

footer .footer-list ul li
{
    text-decoration: none;
    list-style-type: none;
    
}

footer .footer-list ul li a
{
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
section
{
    padding-top: 100px;
}

section .container .vr-headset 
{
    display:flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25%;
    
    
    
}

section .container .vr-headset img
{
    
}


section .container .history-text
{
    
    position: relative;
    text-align: center;
    margin-left: 55%;
   margin-top: -17%;
   background-color: #fff;
   padding-bottom: 5%;
   
}

section .container .history-text h3
{
    text-transform: uppercase;
    padding-bottom: 30px;
    font-family: 'Josefin' sans-serif;
    font-weight: 300;
   font-size: 3rem;
   padding-bottom: 5%;
}

section .container .history-text p
{
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    color: grey;
    padding-bottom: 5%;
}

section .card-container .container_two .see-all
{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    left: 30%;
    
}

section .card-container .container_two .see-all a
{
    display: inline-block;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    border: 2px solid #555;
    width:10%;
    text-align: center;
    padding: 15px 15px;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 3rem;
          
}

section .card-container .container_two .creation-title
{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    right: 35%;
}

section .card-container .container_two .creation-title h3
{
    text-transform: uppercase;
    font-family: 'Josefin', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    color: hs1(0,0%, 41%);
    padding-left: 10%;

}

section .card-container .container_two .cards
{
    
    display:grid;
    padding: 40px 0px;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 145px;
  grid-row-gap: 105px;
  padding-bottom: 100px;
  padding-left: 10%;
}

section .card-container .container_two .cards .card-deep p
{
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

section .card-container .container_two .cards .card-night p
{
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

section .card-container .container_two .cards .card_soccer p
{
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

section .card-container .container_two .cards .card_grid p
{
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

section .card-container .container_two .cards .card_vr p
{
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

section .card-container .container_two .cards .card_pocket p
{
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

section .card-container .container_two .cards .card_curiosity p
{
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}

section .card-container .container_two .cards .card_fisheye p
{
    
    margin-top: -50%;
    color: #fff;
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    
}

footer .info
{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    
}  

footer .info p
{
    color: grey;
    
}

footer .socials
{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 5%;

}

footer .socials img
{
    margin-bottom: 2%;
    padding-right: 0.5%;
}

footer .footer-logo
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10%;
    
    
}

footer .footer-logo img
{
   transform: scale(0.6);
}

section .container_two .cards
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 30%;
    
   
}


