@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');
body
{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Public Sans', sans-serif;
font-size: 18px;
}

header
{
    display: flex;
    background-color: #fff;
    
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
    
}

li, a, button
{
    text-decoration: none;
}

.logo
{
   
}



.nav-links
{
    list-style: none;
}


.nav-links li
{
    
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a
{
   
    color: grey;
   
}

.nav-links li a:hover
{
    color:hsl(233, 26%, 24%);
    
}

button
{
    font-size: 1rem;
    padding: 9px 25px;
    background:linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border:none;
    border-radius: 50px;
    cursor: pointer;
    color:hsl(0, 0%, 100%);
    
}

button:hover
{
    
    transform: scale(1.2);
}

section .background-box
{
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
    

}

section .info-title
{
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 25%;
padding-top: 5%;

color: hsl(233, 26%, 24%);

}

section .info-title h1
{
    font-family: 'Public sans', sans-serif;
font-weight: 700;
font-size: 40px;
}
section .info-section
{
display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 25%;
padding-bottom: 5%;
color: grey;
font-weight: 300;
}

section .first-section-button
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 25%;
    
}
section .phones
{
   
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -29%;
    margin-left: 30%;
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:420px -100px ;
  
    
}






section .background-box-2
{
    background-color: hsl(220, 16%, 96%);
    margin-top: -12%;
   

}

section .grid
{
    display:grid;
    padding: 40px 0px;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 25px;
    padding-left: 10%;
    padding-bottom: 5%;
    
}

section .easybank-header
{
    display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 25%;
padding-top: 5%;
color: hsl(233, 26%, 24%);
font-size: 40px;
}

.easybank-heading
{
    color: hsl(233, 26%, 24%);
    font-weight: 400;
    font-size:25px;
}

section .easybank-main-summary
{
    display: flex;
align-items: center;
justify-content: flex-start;
padding-left: 25%;
padding-bottom: 5%;
font-weight: 300;
color: grey;
}

section .grid .easybank-summary
{
    color:grey;
    
}

section .articles-title
{
    padding-left: 20%;
    padding-top: 50px;
    padding-bottom: 2rem;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 22px;
    
}


section .cards
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 4rem;
    column-gap: 1rem;
   padding-bottom: 2rem;
   padding-left: 12rem;
   padding-right: 12rem;

}

section .cards .card-one
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

section .cards .author
{
    font-weight: 400;
    font-size: 12px;
}

section .cards .headline
{
    font-weight: 400;
    font-size: 20px;
}

section .cards .summary
{
    
    font-size: 15px;
}

section .cards .card-one img
{
    width:100%;
    height:23rem;
   
}

section .cards .card-two
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
section .cards .card-two img
{
    width:100%;
    height:23rem;
}
section .cards .card-three
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
section .cards .card-three img
{
    width:100%;
    height:23rem;
}
section .cards .card-four
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

section .cards .card-four img
{
    width:100%;
    height:23rem;
}

section .cards .author
{
    padding-left: 40px;
    color: grey;
}

section .cards .headline
{
    padding-left: 40px;
    color: hsl(233, 26%, 24%);
}

section .cards .summary
{
    padding-left: 40px;
    color: grey;
}

footer
{
    background-color: hsl(233, 26%, 24%);
   padding: 1rem 0;
}

.footer
{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   row-gap: 4rem;
   column-gap: 2rem;
}

.footer-icons
{
    padding-left: 10rem;
    padding-top: 1.5rem;
}

.footer-icons a
{
    padding-right: 1.5rem;
    
}


.footer-links
{
    padding-left: 5rem;
    padding-top: 1rem;
}

.footer-links li
{
    padding-bottom: 1.5rem;
    list-style: none;
}

.footer-links li a
{
    color: white;
   
  
}

.footer-links li a:hover
{
    text-decoration: underline;
    text-decoration-color: #fff;
}

.footer-button
{
    padding-top: 2.5rem;
}
footer .footer-logo
{
    padding-top: 1rem;
    padding-bottom: 4rem;
   fill: #fff;
}

.copyright
{
    padding-top: 2rem;
}

.copyright p
{
    color:hsl(220, 16%, 96%);
}